Django==4.2.16
django-crispy-forms==2.3
crispy-bootstrap4==2025.6
sqlparse==0.5.1
Pillow==10.4.0
tzdata>=2025.2
# asgiref will be pulled in compatibly; no need to pin
# backports.zoneinfo is not needed on py>=3.9